body{
    background-position: center;
    background-size: cover;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.heading{
    font-size: large;
    width: 100%;
    margin: 0px;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: medium;
}
.object_name{
    font-size: 15px;
    font-weight: bold;
}
canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130;
    box-shadow: 5px 5px 5px white;
}